.main.content .lyricsArea {
    padding-left: min(2%, 30px);
    padding-right: min(2%, 30px);
}
.main.content .lyricsArea .lyric span {
    display: inline-block;
    margin-left: 10px;
    font-size: 2em;
}
.main.content .lyricsArea .lyric svg {
    --svgScale: .8em;
    top: .05em;
    width: var(--svgScale);
    height: var(--svgScale);
    transform: rotate(225deg);
}
.main.content .lyricsArea svg path {
    stroke-width: 100;
}
.main.content .lyricsArea p {
    margin-bottom: 100px;
}

.main.content .lyricsArea .songSet:nth-child(2){
    border-bottom-left-radius: var(--minBorderWidth);
    border-bottom-right-radius: var(--minBorderWidth);
}
.main.content .lyricsArea .songSet:nth-child(3){
    border-top-left-radius: var(--minBorderWidth);
    border-top-right-radius: var(--minBorderWidth);
}
.main.content .lyricsArea .songSet {
    --minBorderWidth: 15px;
    cursor: default;
    background-color: transparent;
    backdrop-filter: none;
    --webkit-backdrop-filter: none;
    border-radius: 30px;
    margin-bottom: 20px;
}
.main.content .lyricsArea .songSet .title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
    width: max-content;
    max-width: 100%;
}
.main.content .lyricsArea .songSet .subText {
    font-size: 1.25em;
}
.main.content .lyricsArea .songSet .lyric {
    cursor: pointer;
    margin-bottom: 50px;
    font-size: 1rem;
    display: block;
    width: max-content;
}